<html>
	<head>
		<style>
			{% include "cueilleurs/style.css" %}
		</style>
		<script>
			{% include "cueilleurs/script.js" %}
		</script>
	</head>
	<body>
	   <a class="button-action" href="javascript:animate()">Action</a>
       {% include "cueilleurs/cueilleurs.svg" %}
    </body>
</html>