#svg1 {
    top: 3rem;
    position: absolute;
}

.button-action {
display: inline-block;
    background: #151D32FF;
    text-decoration: none;
    padding: 0.5rem;
    top: .5rem;
    position: fixed;
    color: white;
}


.animation #path1 {
    animation-duration: 4s;
    animation-name: arm;
}

.animation #path7-2 {
    animation-duration: 4s;
    animation-name: finger;
}

.animation #apple {
    animation-duration: 4s;
    animation-name: apple;    
}

@keyframes arm {
    20%, to {
        d: path("m 105.99823,120.28517 c 0,0 -14.965428,1.65479 -20.374696,-0.78354 -7.897588,-3.55999 -15.568151,-16.33981 -15.568151,-16.33981");
    }
}

@keyframes finger {
    20%, to {
        d: path("M 73.664456,104.0948 74.39319,97.598166");
    }
}

@keyframes apple {
    0%, 20% {
        transform: translateY(0);
    }
    21% {
        transform: translateY(0);
    }
    23%, 27% {
        transform: translateX(2px);
    }
    25%, 30% {
        transform: translateX(-2px);
    }
    50%, to {
        transform: translateY(100px);
    }
}
