.animation #layer1 {
animation-duration: 10s;
    animation-name: zoom-out;
}

#point-of-questionning {
    opacity: 0;
}

.animation #point-of-questionning  {
    animation-duration: 10s;
    animation-name: questionning;
}

.animation #eyebrow {
    animation-duration: 10s;
    animation-name: eyebrow;
}

.animation #eyelid {
    animation-duration: 10s;
    animation-name: eyelid;
}

.animation #mouth-surprise {
    animation-duration: 10s;
    animation-name: mouth-surprise;
}

.animation #elephant {
    animation-duration: 10s;
    animation-name: anim-elephant;
}

#elephant, #hunters, #grass, #point-of-questionning {
    display: block;
}

.animation #hunters {
    animation-duration: 10s;
    animation-name: anim-hunters;
}

.animation #grass {
    animation-duration: 10s;
    animation-name: anim-grass;
}

@keyframes zoom-out {
    10% {
        transform: translate(-69px, -30px);
    }
    20%, to {
        transform: translate(-5px, -5px);
    }
}

@keyframes questionning {
    25% {
        opacity: 0;
    }
    38% {
        opacity: 1;
    }
    39%, to {
        opacity: 0;
    }
}

@keyframes eyebrow {
    25% {
        d: path("m 144.88855,70.560206 c 0,0 3.98602,-0.283342 7.08004,-0.174029");
    }
    30%, to {
        d: path("m 144.62685,66.128811 c 0,0 2.84563,-5.047686 6.00187,-0.221525");
    }
}

@keyframes eyelid {
    25% {
        d: path("m 144.43992,75.251928 7.43999,0.912341");
    }
    30%, to {
        d: path("m 145.79926,70.725065 7.43999,0.912341");
    }
}

@keyframes mouth-surprise {
    0%, 25% {
        opacity: 0;
    }
    30%, to {
        opacity: 1;
    }
}

@keyframes anim-elephant {
    0%, 38% {
        opacity: 1;
    }
    39%, to {
        opacity: 0;
    }
}

@keyframes anim-hunters {
    0%, 39% {
        opacity: 0;
    }
    40%, 99% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes anim-grass {
    0%, 38% {
        opacity: 1;
    }
    39%, to {
        opacity: 0;
    }
}