.animation #layer1 {
    animation-duration: 10s;
    animation-name: zoom-out;
}

.animation #path2,
.animation #path4,
.animation #path7,
.animation #path9,
.animation #eyebrow,
.animation #path6-0,
.animation #path20,
.animation #path21,
.animation #path21-3,
.animation #path20-1,
.animation #g76 {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.animation #path2 {
    animation-name: trunk;
}

.animation #path4 {
    animation-name: tail;
}

.animation #path7 {
    animation-name: eye;
}

.animation #path9 {
    animation-name: mouth;
}

.animation #eyebrow {
    animation-name: eyebrow;   
}

.animation #path6-0 {
    animation-name: ear;
}

.animation #path20 {
    animation-name: run1;
}

.animation #path21 {
    animation-name: run2;
}

.animation #path21-3 {
    animation-name: run3;
}

.animation #path20-1 {
    animation-name: run4;
}

.animation #g76 {
    animation-name: ground;
}

@keyframes eye {
    0%, to {
        d: path("m 150.9269,79.099379 c 0,2.810289 -1.41706,4.489988 -3.2423,4.489989 -1.82523,-10e-7 -4.22171,-1.293008 -4.99285,-4.449555 -0.66693,-2.730003 -0.1976,-7.826289 4.31799,-7.899617 2.83518,-0.04604 3.91716,5.048895 3.91716,7.859183 z");
    }
    50% {
        d: path("m 150.50042,79.391083 a 3.3048816,5.088479 0 0 1 -3.30488,5.088479 3.3048816,5.088479 0 0 1 -3.30488,-5.088479 3.3048816,5.088479 0 0 1 3.30488,-5.088479 3.3048816,5.088479 0 0 1 3.30488,5.088479 z");
    }
}


@keyframes mouth {
    0%, to {
        d: path("m 141.08556,114.42499 c 5.1062,-4.22247 -0.11304,-10.45486 -3.01696,-7.31156 -2.90392,3.1433 -2.08924,11.53403 3.01696,7.31156 z");
    }
    50% {
        d: path("m 138.86617,111.10104 c 5.1062,-4.22247 2.10635,-7.13091 -0.79757,-3.98761 -2.90392,3.1433 -4.30863,8.21008 0.79757,3.98761 z");
    }
}

@keyframes eyebrow {
    0%, to {
        d: path("m 141.50872,68.1417 c -0.24257,0.0633 2.40803,-13.00417 9.94216,-3.818887");
    }
    50% {
        d: path("m 141.89317,71.409809 c -0.24257,0.0633 3.13969,-3.522675 7.36335,-1.276026");
    }
}

@keyframes tail {
    0%, to {
        d: path("M 41.62487,92.343319 C 29.181442,94.909192 13.915036,98.648648 6.18086,94.983237");
    }
    50% {
        d: path("M 41.62487,92.343319 C 29.181442,94.909192 19.623316,86.851494 4.6244648,93.715657");
    }
}

@keyframes trunk {
    0%, to {
        d: path("m 157.77415,91.466092 c 39.99598,17.545568 48.92545,7.767026 87.26331,4.998598");
    }
    50% {
        d: path("m 157.77415,91.466092 c 46.75169,-18.215323 48.92545,7.767026 87.26331,4.998598");
    }
}

@keyframes ground {
    0%, 50.1% {
        transform: translateX(0);
    }
    50%, to {
        transform: translateX(-400px);
    }
}

@keyframes ear {
    0%, to {
        d: path("M 113.23082,76.569312 89.995553,78.349445");
    }
    50% {
        d: path("M 113.23082,76.569312 92.349721,66.077991");
    }
}

@keyframes run1 {
    0%, to {
        d: path("m 146.52197,130.68105 c 12.41824,2.95456 28.82827,25.68828 -6.43763,39.46649 -20.31338,7.93633 -82.004086,3.60496 -82.004086,3.60496");
    }
    25% {
        d: path("m 83.226427,130.72213 c 12.41824,2.95456 62.358363,-14.70524 77.958143,16.11735 10.76961,21.27898 -30.01215,27.75508 -30.01215,27.75508");
    }
    50% {
        d: path("m 23.971735,161.24416 c -3.22658,-10.88035 6.624473,-21.09218 40.905028,-25.3617 38.924637,-4.84792 73.365867,-9.24669 73.365867,-9.24669");
    }
    75% {
        d: path("M 72.562072,174.16 C 55.880536,172.18544 24.060611,167.45066 29.674634,152.42582 34.550421,139.37671 72.816266,133.67517 72.816266,133.67517");
    }
}

@keyframes run2 {
    0%, to {
        d: path("m 122.24192,129.84131 c 0,0 -73.240625,0.67743 -89.400198,17.04069 -16.159574,16.36326 8.059155,22.77348 8.059155,22.77348");
    }
    25% {
        d: path("m 50.40257,139.19637 c 0,0 -25.528288,3.85055 -24.72861,22.28044 0.799678,18.42989 86.72996,14.27333 86.72996,14.27333");
    }
    50% {
        d: path("m 59.321196,173.51536 c 0,0 54.238724,7.53456 81.801984,-1.93129 27.56326,-9.46584 18.31789,-29.4495 18.31789,-29.4495");
    }
    75% {
        d: path("m 130.02582,172.68357 c 0,0 34.06271,-3.65095 30.19513,-27.99914 -3.86758,-24.3482 -83.625029,-13.02424 -83.625029,-13.02424");
    }
}

@keyframes run3 {
    0%, to {
        d: path("m 137.06594,139.69062 c 0,0 -68.810106,0.41441 -83.992142,10.42449 -15.182038,10.01008 7.571635,13.93147 7.571635,13.93147");
    }
    25% {
        d: path("m 50.117572,153.05682 c 0,0 0.66218,8.76034 14.861093,10.80571 14.198912,2.04537 57.013685,0.79854 57.013685,0.79854");
    }
    50% {
        d: path("m 148.39263,151.38764 c 0,0 2.49746,-9.26761 -8.90417,-11.94388 -11.40162,-2.67628 -42.792592,-1.19196 -42.792592,-1.19196");
    }
    75% {
        d: path("m 148.39263,151.38764 c 0,0 2.49746,-9.26761 -8.90417,-11.94388 -11.40162,-2.67628 -42.953248,4.64611 -42.953248,4.64611");
    }
}

@keyframes run4 {
    0%, to {
        d: path("m 146.42314,142.09664 c 0.86017,0.10744 9.36382,13.79629 -11.3027,19.9864 -14.41513,4.31767 -57.301435,2.20029 -57.301435,2.20029");
    }
    25% {
        d: path("m 69.310174,145.9188 c 0.86017,0.10744 47.985316,-12.80074 68.525986,-6.20504 11.74181,3.77035 5.92161,13.16119 5.92161,13.16119");
    }
    50% {
        d: path("m 56.60929,157.99521 c 0.86017,0.10744 -6.733866,-4.76341 4.037661,-9.45083 11.307991,-4.92087 44.057849,-5.5012 44.057849,-5.5012");
    }
    75% {
        d: path("m 89.413935,165.22018 c 0.86017,0.10744 -3.575972,0.48955 -15.316373,0.0887 -16.786804,-0.57318 -20.409599,-10.88272 -20.409599,-10.88272");
    }
}