<html>
	<head>
		<style>
			{% include "global.css" %}
			{% include "chasseurs/fuite.css" %}
		</style>
		<script>
			{% include "chasseurs/script.js" %}
		</script>
	</head>
	<body>
	   <a class="button-action" href="javascript:animate()">Action</a>

        <div id="content" class="hidden">
            {% include "chasseurs/elephant_fuite.svg" %}
        </div>
    </body>
</html>