:root {
    --bg-button: #11546e;
    --bg-disabled-button: grey;
    --color-button: white;
    --size-animation: calc(100vh - 4rem);
    --margin: .5rem;
}

.button-action {
    background: var(--bg-button);
    color: var(--color-button);
    padding: var(--margin);
    display: inline-block;
    text-decoration: none;
}

/*
.hidden {
    display: none;
}
*/

#svg1 {
    display: block;
    margin: auto;
    width: var(--size-animation);
    height: var(--size-animation);
}
